{{define "applicationlist"}}

{{template "base_top"}}

{{template "topbar"}}
<!-- <div class="rowspan"> -->
<div class="container-fluid">
<div class="page-header">
  <h1>Applications <small>a list of all applications collected with status-scripts. Click any application to get a list of machines with that particular application</small></h1>
</div>
<section id="tables">
<table class="table table-bordered table-striped">
{{range .}}
        <tr>
          <td><a href="/searchexact/?key=apps.path&val={{.}}"><font size="2">{{.}}</font></a></td>
          <td><a class="label" href="/addblacklist/?path={{.}}">blacklist</a></td>
       </tr>
{{end}}
</table>
</section>
</div>

{{template "base_bottom"}}
{{end}}