{{define "machinelist"}}
{{template "base_top"}}
{{template "topbar"}}

<div class="container-fluid"><div class="page-header">
  <h1>Active machines <small>Click the headers to sort them by the different attributes</small></h1>
</div>
  <section id="tables">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          {{range .Headers}} <th>{{if .Key}}<a href="/?sortkey={{.Key}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}</th>{{end}}
        </tr>
      </thead>
      <tbody>
        {{range .Machines}}
          <tr {{ if .IsAncient }} class="error" {{else}} {{if .IsOld}} class="warning" {{end}} {{end}}>
            <td><font size="2">{{.Cnt}}</font></td>
            <td><a href="/machine/{{.Id}}"><font size="2">{{.Hostname}}</font></a></td>
            <td><font size="2">{{.Ip}}</font></td>
            <td><font size="2">{{.Osx}}</font></td>
            {{if .Softwareupdate}}<td><font size="2"><span class="label label-warning">Pending updates</span></font></td>{{else}}<td><font size="2">None</font></td>{{end}}
            {{if .Recon}}<td><font size="2">Installed</font></td>{{else}}<td><font size="2"><span class="label label-important">Missing</span></font></td>{{end}}
            {{if .Firewall}}<td><font size="2">On</font></td>{{else}}<td><font size="2">Off</font></td>{{end}}
            <td><font size="2">{{.Virus_version}} ({{.Virus_def}})</font></td>
            <td><font size="2">{{.Date}}</font></td>
            <td><font size="2">{{.Model}}</font></td>
            <td><font size="2">{{.Memory}}</font></td>
            <td><a href="/del/{{.Serial}}"><font size="2">Delete</font></a></td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </section><!-- tables -->
</div> <!-- container -->
{{template "base_bottom"}}
{{end}}