{{define "machinelist"}}
{{template "base_top"}}
{{template "topbar"}}

<div class="container-fluid"><div class="page-header">
  <h1>Active machines <small>Click the headers to sort them by the different attributes</small></h1>
</div>
  <section id="tables">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          {{range .Headers}} <th>{{if .Key}}<a href="/?sortkey={{.Key}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}</th>{{end}}
        </tr>
      </thead>
      <tbody>
        {{range .Machines}}
          <tr onclick="window.document.location='/machine/{{.Id}}';" {{ if .SoxIssues }} class="error" {{else}} {{if .SoxWarning}} class="warning" {{end}} {{end}}>
            <td>{{.Cnt}}</td>
            <td>
              {{ if .NameLengthIssue }} 
              <span class="label label-important">
                {{.Hostname}}
              </span>
              {{else}}
                {{.Hostname}}
              {{end}}
            </td>
            <td>{{.Ip}}</td>
            <td>{{.Osx}}</td>
            {{if .Softwareupdate}}
              <td><span class="label label-warning">Pending updates {{if .SecurityUpdate}} <i class="icon-warning-sign"></i>{{end}}</span></td>
            {{else}}
              <td>None</td>
            {{end}}
            {{if .Recon}}<td>Installed</td>{{else}}<td><span class="label label-important">Missing</span></td>{{end}}
            {{if .Firewall}}
              <td>On</td>
            {{else}}
              {{if .FirewallIssue}}
                <td><span class="label label-important">Off</span></td>
              {{else}}
                <td>Off</td>
              {{end}}
            {{end}}
              {{if .AntivirusIssue}}
                <td><span class="label label-important">Missing</span></td>
              {{else}}
                <td> {{.Virus_version}} ({{.Virus_def}})</td>
              {{end}}
            <td>
                {{if .IsAncient}}
                <span class="label label-important"> {{.Date}} </span></td>
                {{else}}
                  {{if .IsOld}} 
                    <span class="label label-warning"> {{.Date}} </span></td>
                  {{else}}
                    {{.Date}}
                  {{end}}
                {{end}}</td>
            <td>{{.Model}}</td>
            <td>{{.Memory}}</td>
            <td>{{.Script_v}}</td>
            <td><a href="/del/{{.Id}}">Delete</a></td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </section><!-- tables -->
</div> <!-- container -->
{{template "base_bottom"}}
{{end}}