{{define "machine"}}
{{template "base_top"}}
{{template "topbar"}}
<form name="fwform" method="POST" action="/ignorefw/">
                            <input type="hidden" name="id" value="{{.Id}}">
                            </form>
<div class="container-fluid">
    <div class="hero-unit">
        <h1>{{.Hostname}} <small>{{.Id}}</small></h1></br>
        <div class="row-fluid">
            <div class="span4">
                <h2>Machine</h2>
                <dl>
                    <dt>IP</dt><dd>{{.Ip}}</dd>
                    <dt>CPU</dt><dd>{{.Cpu}}</dd>
                    <dt>RAM</dt><dd>{{.Memory}}</dd>
                    <dt>Model</dt><dd>{{.Model}}</dd>
                </dl>
            </div>
            <div class="span4">
                <h2>System</h2>
                <dl>
                    <dt>OS</dt><dd>{{.Osx}}</dd>
                    <dt>Hostname</dt><dd>{{.Hostname}}</dd>
                    <dt>Users</dt>
                        {{range .Users}}<dd>{{.}}</dd>{{end}}
                </dl>
            </div>
            <div class="span4">
                <h2>SOx</h2>
                <dl>
                    <dt>Recon</dt>
                        <dd>{{if .Recon}}<span class="label label-success">Installed</span>{{else}}<span class="label label-warning">Missing</span>{{end}}
                        </dd>
                    <dt>Firewall</dt>
                        <dd>{{if .MacbookFirewallCheck}}<span class="label label-success">{{.Firewall}} - no issue</span>
                            {{else}}<span class="label label-warning">{{.Firewall}} - issue</span>
                            <a href="javascript:document.fwform.submit();"><i class="icon-ok"></i></a>
                            {{end}}
                        </dd>
                    <dt>Antivirus</dt>
                        <dd>Application: {{.Virus_version}}</dd>
                        <dd>Definitions: {{.Virus_def}}</dd>
                    <dt>Last Virus Scan</dt> <dd>{{.Virus_last_run}}</dd>
                </dl>
            </div>

        </div>
        <div class="row-fluid">
        <div class="span12">
            <div {{if .IsOld}} class="alert alert-warning" {{else}} class="alert alert-success" {{end}}>
            <h3 class="alert-heading" >Last Updated: {{.Time}} - <date>{{.Date}}</date> </h3>
            
            </div>
        </div>
        </div>
    </div> <!-- hero -->

<section id="tables">
<!-- <div class="row"> -->
<!-- <div class="colspan"> -->
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><h3>Application</h3></th>
            <th><h3>Version</h3></th>
            <th><h3>Path</h3></th>
        </tr>
    </thead><!-- thead -->
    <tbody>
        {{range .Apps}}
        <tr>
            <td><a href="/searchexact/?key=apps.path&val={{.Path}}"><font size="2">{{.Name}}</font></a></td>
            <td><font size="2">{{.ShortVersion}}</font></td>
            <td><font size="2">{{.ShortPath}}</font></td>
            <td><a class="label notice" href="/newlicense/?app={{.Name}}&path={{.Path}}" >License</a></td>
            <td><a class="label" href="/addblacklist/?name={{.Name}}&path={{.Path}}" >blacklist</a></td>
        </tr>
    {{end}}
    </tbody> <!-- tbody -->
    </table>
<!-- </div> --> <!-- span -->
<!-- </div> --> <!-- row -->
</section> <!-- table -->
</div> <!-- container -->
{{template "base_bottom"}}
{{end}}