
{{define "machine"}}
{{template "base_top"}}
{{template "topbar"}}
<form name="fwform" method="POST" action="/ignorefw/">
                            <input type="hidden" name="id" value="{{.Id}}">
                            </form>
<div class="container-fluid">
    <div class="hero-unit">
        <h1>{{.Hostname}} <small>{{.Id}}</small></h1></br>
        <div class="row-fluid">
            <div class="span4">
                <h2>Machine</h2>
                <table>
                    <body>
                        <tr>
                            <td style="padding:0 10px 0 10px;"><strong>IP</strong></td><td>{{.Ip}}</td>
                        </tr>
                        <tr>
                            <td style="padding:0 10px 0 10px;"><strong>CPU</strong></dt><td>{{.Cpu}}</td>
                        </tr>
                        <tr>
                            <dt style="padding:0 10px 0 10px;"><strong>RAM</strong></dt><td>{{.Memory}}</td>
                        </tr>
                        <tr>
                            <dt style="padding:0 10px 0 10px;"><strong>Model</strong></dt><td>{{.Model}}</td>    
                        </tr>
                    </body>
                </table>
            </div>
            <div class="span4">
                <h2>System</h2>
                <table>
                <body>
                    <tr>
                        <dt style="padding:0 10px 0 10px;"><strong>OS</strong></dt><td>{{.Osx}}</td>    
                    </tr>    
                    <tr>
                        <td style="padding:0 10px 0 10px;"><strong>ComputerName: </strong></td>
                            <td>{{.Device_names.Computername}}</td>
                        </tr>    
                    <tr>
                        <td style="padding:0 10px 0 10px;"><strong>HostName: </strong></td>
                        <td>{{.Device_names.Hostname}}</td>
                    </tr>
                    <tr>
                        <td style="padding:0 10px 0 10px;"><strong>LocalHostName: </strong></td>
                        <td>{{.Device_names.Localhostname}}</td>
                    </tr>
                    <tr>
                        <td style="padding:0 10px 0 10px;"><strong>NetBIOS: </strong></td>
                        <td>{{.Device_names.Netbiosname}}</td>
                    </tr>
                    <tr>
                        <td style="padding:0 10px 0 10px;"><strong>Users</strong></td><td>{{range .Users}}{{.}}<br>{{end}}</td>
                    </tr>
                </body>
                </table>
            </div>
            <div class="span4">
                <h2>SOx</h2>
                <dl>
                    <dt>Recon</dt>
                        <td>{{if .Recon}}<span class="label label-success">Installed</span>{{else}}<span class="label label-important">Missing</span>{{end}}
                        </td>
                    <dt>Firewall</dt>
                        <td>
                            {{if .FirewallIssue}}<span class="label label-important">
                                {{if .Firewall}}ON{{else}}Off{{end}}</span>
                            {{else}}<span class="label label-success">{{if .Firewall}}ON{{else}}Off{{end}}</span>
                            {{end}}
                        </td>
                    <dt>Antivirus</dt>
                        <td>Application: {{.Virus_version}}</td>
                        <td>Definitions: {{.Virus_def}}</td>
                    <dt>Last Virus Scan</dt> <td>{{.Virus_last_run}}</td>
                </dl>
            </div>

        </div>
        <div class="row-fluid">
        <div class="span12">
            <div {{if .IsOld}} class="alert alert-warning" {{else}} class="alert alert-success" {{end}}>
                <h3 class="alert-heading" >Last Updated: <date>{{.Now}}</date> </h3>
            </div>
        </div>
        {{if .Softwareupdate}}
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-warning">
                    <h3 class="alert-heading" > {{.Softwareoutput}}</h3>            
                </div>
            </div>
        </div>
        {{end}}
    </div> <!-- hero -->

<section id="tables">
<!-- <div class="row"> -->
<!-- <div class="colspan"> -->
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><h3>Application</h3></th>
            <th><h3>Version</h3></th>
            <th><h3>Path</h3></th>
        </tr>
    </thead><!-- thead -->
    <tbody>
        {{range .Apps}}
        <tr>
            <td><a href="/searchexact/?key=apps.path&val={{.Path}}"><font size="2">{{.Name}}</font></a></td>
            <td><font size="2">{{.ShortVersion}}</font></td>
            <td><font size="2">{{.ShortPath}}</font></td>
            <td><a class="label notice" href="/newlicense/?app={{.Name}}&path={{.Path}}" >License</a></td>
            <td><a class="label" href="/addblacklist/?name={{.Name}}&path={{.Path}}" >blacklist</a></td>
        </tr>
    {{end}}
    </tbody> <!-- tbody -->
    </table>
<!-- </div> --> <!-- span -->
<!-- </div> --> <!-- row -->
</section> <!-- table -->
</div> <!-- container -->
{{template "base_bottom"}}
{{end}}