{{define "newlicense"}}
{{template "base_top"}}
{{template "topbar"}}

<div class="container" style="padding-top:40px">
<legend><h2>Add New License </h2></legend>
App: {{.Name}} </br>
Path: {{.Path}}
<section>
  <div class="row">
    <div class="span12">
      <form action="/addlicense/" method="POST">
        <fieldset>
      
        <div class="clearfix">
          <div class="input">
            <input class="xlarge" type="hidden" name="app" value="{{.Name}}" input>
          </div>
        </div>

        <div class="clearfix">
          <div class="input">
            <input class="xlarge" type="hidden" name="path" value="{{.Path}}" input>
          </div>
        </div>
        <div class="clearfix">
          <label for="number"/>Number of licenses:</label>
          <div class="input">
            <input class="xlarge" style="height:2em" type="text" placeholder="#" name="count" id="number" />
          </div>
        </div>
        <div class="cleafix">
          <div class="input">
            <input type="submit" value="commit license"/>
          </div>
        </div>

        </fieldset>
      </form>
    </div>
  </div>

</section>
</div>
{{template "base_bottom"}}
{{end}}