{{define "wireless"}}
{{template "base_top"}}
{{template "topbar"}}

<div class="container-fluid"><div class="page-header">
  <h1>Wireless Network <small>Unique Access Points at AdPeople CPH</small></h1>
</div>
  <section id="tables">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SSID</th>
          <th>BSSID</th>
          <th>Security</th>
          <th>Last Seen</th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
          <tr>
            <td>{{.SSID}}</td>
            <td>{{.ID}}</td>
            <td>{{.Sec}}</td>
            <td>{{.LastSeen}}</td>
            <td>{{.Hostname}}</td>
            <td>{{.Ip}}</td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </section><!-- tables -->
</div> <!-- container -->
{{template "base_bottom"}}
{{end}}