<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdobeBuildNumber</key>
	<string>6.0.5.605</string>
	<key>AdobeCrashReporterEmail</key>
	<string>id-crashlogs@adobe.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>British English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_DocumentGeneric_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID30_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID40_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS2 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS3 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS4 Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDd6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_SaveBackwardsInt_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® XML Interchange</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDx3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID40_Snippet_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Snippet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID50_Snippet_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Snippet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IDMS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_IDMSSecondary_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Snippet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IdMs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>IC30_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InCd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INCD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC30_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICD3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>IC30_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICx4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INCX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC_DocumentGeneric_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICx5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ICML</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC_Document_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICx6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>IC_AssignGeneric_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Assignment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InCA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INCA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC_AssignGeneric_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Assignment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICa5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ICMA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC_ICMA_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Assignment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ICa6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>P65</string>
				<string>T65</string>
				<string>PMD</string>
				<string>PMT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PageMaker® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PMD </string>
				<string>PMT </string>
				<string>AB65</string>
				<string>AT65</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>QXD</string>
				<string>QXT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QuarkXPress® Document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XDOC</string>
				<string>XTMP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_StationaryGeneric_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>snDd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID30_Stationery_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS Template</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID40_Stationery_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS2 Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID50_Stationary_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS3 Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ID5t</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Stationary_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS4 Template</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ID6t</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_BookGeneric_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Book</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID30_Book_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS Book</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDb3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID40_Book_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS2 Book</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDb4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Book_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS3 Book</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDb5</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Book_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® CS4 Book</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDb6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Library_v02_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDl</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID30_Library_CS_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDl3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Library_CS4_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDl4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INLX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_LibraryInterchange_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Interchange Library</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InLx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>FLST</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_FlattenerPresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Flattener Presets</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FlSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PRST</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_PrinterPresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Printer Presets</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PrSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PDFS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_PDFPresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® PDF Presets</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PdfS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>joboptions</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_PDFPresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe® PDF Settings File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DCST</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_DocPresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Document Presets</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DcSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>LNST</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_LinePresets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Line Presets</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>LnSt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_LanguageDict_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Language Dictionary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>UDC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_LanguageDict_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® User Dictionary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDu</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>InDesignPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Plug-InAdobe_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Plug-In</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDa</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>InDesignPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Plug-InAdobe_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Plug-In</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDr</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>InDesignPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Plug-In3dParty_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Plug-In</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InD3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PSET</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Plug-InSets_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Plug-In Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Pset</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>SMRD</string>
				<string>SMWT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Filter_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Filter</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Smrd</string>
				<string>Smwt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IDML</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_IDMLFile_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Markup Language</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDm6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IDPP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_IDPP_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® PreflightProfile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDp6</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_KeyboardShortcuts_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Shortcut Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_Prefs_icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Defaults</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_SavedData_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® SavedData</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InSd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>ID_RecoverData_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Recovery Data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InRd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INLK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_LockFile_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Lock File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InLk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CSF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_ColorSettings_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Color Settings File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AsCs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ASE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_ASE_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe® Swatch Exchange File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ASEF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ACB</string>
				<string>ACBL</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PS_ColorBookIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe® Color Book File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BCB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IDPK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_GoLivePackage_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Package For GoLive</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IDpk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INJB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_JobBagContainer_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Job Bag</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InJB</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INRS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_ResourceFile_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Resource File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InRs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INCP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC50_DocumentPkg_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Assignment Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InCP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INDP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_DocumentPkg.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Assignment Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InDP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ICAP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IC_DocumentPkg_ICAP.icns</string>
			<key>CFBundleTypeName</key>
			<string>InCopy® Assignment Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IcAP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>IDAP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_DocumentPkg_IDAP.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Assignment Package</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>IdAP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>INMS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ID_MenuSetFile_Icon.icns</string>
			<key>CFBundleTypeName</key>
			<string>InDesign® Menu Set</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>InMs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Adobe InDesign CS4</string>
	<key>CFBundleGetInfoString</key>
	<string>6.0.5, Copyright 2000-2009 Adobe Systems Incorporated. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>ID_App_Icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.InDesign</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>6.0.5, Copyright 2000-2009 Adobe Systems Incorporated. All rights reserved.</string>
	<key>CFBundleName</key>
	<string>InDesign</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.5.605</string>
	<key>CFBundleSignature</key>
	<string>InDn</string>
	<key>CFBundleVersion</key>
	<string>6050</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>InstallerLocaleSetting</key>
	<string>en_GB</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>6.0.5, Copyright 2000-2009 Adobe Systems Incorporated. All rights reserved.</string>
	<key>UIDisallowUserKeyboardShortcuts</key>
	<true/>
</dict>
</plist>
