{{define "applicationlist"}}

{{template "base_top"}}

{{template "topbar"}}
<div class="container-fluid">
<section id="applications">
<!-- <div class="rowspan"> -->
<h2>Applications</h2>
<table class="table">
{{range .}}
        <tr>
          <td><a href="/searchexact/?key=apps.path&val={{.}}"><font size="2">{{.}}</font></a></td>
          <td><a class="label" href="/addblacklist/?path={{.}}">blacklist</a></td>
       </tr>
{{end}}
</table>
</section>
</div>

{{template "base_bottom"}}
{{end}}