{{define "base_top"}}
<html>
	<link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css">
<body>
{{end}}

{{define "topbar"}}
<div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="/">AdPeople SOx</a></h3>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/licenselist/">Licenses</a></li>
            <li class="active"><a href="/oldmachines/">Old Machines</a></li>
            <!-- <li>
              <form class="pull-left" action="/search/" method="GET">
              <input type="text" placeholder="Search clients for apps.." name="search" style="height:2.2em;width:30em"/>
              </form>
            </li> -->
            <li><a href="/sox/">download SOxReport</a></li>
          </ul>
        </div>
      </div>
</div>
{{end}}

{{define "base_bottom"}}
</body>
</html> 
{{end}}