{{define "machinelist"}}
{{template "base_top"}}
{{template "topbar"}}
<section id="tables">
<!-- <div class="container"> -->
  <div class="row">
    <div class="span20">
      <table class="table table-bordered">
          <thead>
          <tr>
             {{range .Headers}} <th>{{if .Key}}<a href="/?sortkey={{.Key}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}</th>{{end}}
          </tr>
          </thead>
          <tbody>
          {{range .Machines}}
              <tr {{if .SoxIssues}} bgcolor=#FF0000 {{end}} >
                  <td>{{.Cnt}}</td>
                  <td><a href="{{.Url}}">{{.Hostname}}</a></td>
                  <td>{{.Ip}}</td>
                  <td>{{.Osx}}</td>
                  {{if .Recon}}<td>True</td>{{else}}<td>False</td>{{end}}
                  {{if .Firewall}}<td>On</td>{{else}}<td>Off</td>{{end}}
                  <td>{{.Virus_version}} ({{.Virus_def}})</td>
                  <td>{{.Date}}</td>
                  <td>{{.Model}}</td>
                  <td><a href="/del/{{.Id}}">Delete</a></td>
              </tr>
          {{end}}
          </tbody>
      </table>
    </div>  <!-- span12 -->
  </div> <!-- row -->
</div>
<section id="tables">
{{template "base_bottom"}}
{{end}}