{{define "machine"}}
{{template "base_top"}}
{{template "topbar"}}
<div class="container">
    <div class="hero-unit">
        <h1>{{.Hostname}}</h1><h6>{{.Id}}</h6></br>
        <div class="row">
            <div class="span4">
                <h2>Machine</h2>
                <dl>
                    <dt>IP</dt><dd>{{.Ip}}</dd>
                    <dt>CPU</dt><dd>{{.Cpu}}</dd>
                    <dt>RAM</dt><dd>{{.Memory}}</dd>
                    <dt>Model</dt><dd>{{.Model}}</dd>
                </dl>
            </div>
            <div class="span4">
                <h2>System</h2>
                <dl>
                    <dt>OS</dt><dd>{{.Osx}}</dd>
                    <dt>Hostname</dt><dd>{{.Hostname}}</dd>
                    <dt>Users</dt>
                        {{range .Users}}<dd>{{.}}</dd>{{end}}
                </dl>
            </div>
            <div class="span4">
                <h2>SOx</h2>
                <dl>
                    <dt>Recon</dt><dd>{{if .Recon}}<span class="label success">Installed</span>{{else}}<span class="label warning">Missing</span>{{end}}</dd>
                    <dt>Firewall</dt><dd>{{if .MacbookFirewallCheck}}<span class="label success">{{.Firewall}} - no issue</span>{{else}}<span class="label warning">{{.Firewall}} - issue</span>{{end}}</dd>
                    <dt>Antivirus</dt>
                        <dd>Application: {{.Virus_version}}</dd>
                        <dd>Definitions: {{.Virus_def}}</dd>
                    <dt>Last Virus Scan</dt> <dd>{{.Virus_last_run}}</dd>
                </dl>
            </div>
        </div>
        <div class="row" class="span10">
            
            <h3>Updated: <span {{if .IsOld}} class="danger btn disabled" {{else}} class="success btn disabled" {{end}}>{{.Date}}</span>
            </h3>
        </div>
    </div> <!-- hero -->
</div> <!-- container -->

<div> <table class="zebra-striped">
    <thead>
        <tr>
            <th>Application</th>
            <th>Version</th>
            <th>Path</th>
        </tr>
    </thead><!-- thead -->

    <tbody>
    {{range .Apps}}
        <tr>
            <td><a href="/searchexact/?key=apps.path&val={{.Path}}">{{.Name}}</a></td>
            <td>{{.ShortVersion}}</td>
            <td>{{.ShortPath}}</td>
            <td><a class="label notice" href="/newlicense/?app={{.Name}}&path={{.Path}}" >License</a></td>
            <td><a class="label" href="/addblacklist/?name={{.Name}}&path={{.Path}}" >blacklist</a></td>
        </tr>
    {{end}}
    </tbody> <!-- tbody -->
</table> </div> <!-- table -->
{{template "base_bottom"}}
{{end}}