<html>
<link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css">

<body>
    <div class="topbar" data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="/">AdPeople SOx</a></h3>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
          <form class="pull-left" action="/search/" method="GET">
           <input type="text" placeholder="Search clients for apps.." name="search" style="height:2.5em;width:40em"/>
            <!-- <input type="submit" value="search"/> -->
          </form>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->


<div class="container">
<div class="row">
    <div class="span5">
        <h2>Machine</h2>
        <dl>
            <dt>IP</dt><dd>{{.Ip}}</dd>
            <dt>CPU</dt><dd>{{.Cpu}}</dd>
            <dt>RAM</dt><dd>{{.Memory}}</dd>
        </dl>
        <p>Updated: {{.Date}}</p>
    </div>
    <div class="span4">
        <h2>System</h2>
        <dl>
            <dt>OS</dt><dd>{{.Osx}}</dd>
            <dt>Hostname</dt><dd>{{.Hostname}}</dd>
            <dt>Users</dt><dd>{{.Users}}</dd>
        </dl>
    </div>
    <div class="span4">
        <h2>SOx</h2>
        <dl>
            <dt>Recon</dt><dd>{{.Recon}}</dd>
            <dt>Firewall</dt><dd>{{.Firewall}}</dd>
            <dt>Antivirus</dt><dd>v.{{.Virus_version}} (def: {{.Virus_def}})</dd>
        </dl>
    </div>
</div>

<div>
<table class="zebra-striped">
    <thead>
    <tr>
        <th>Application</th>
        <th>Version</th>
        <!-- <th>Path</th> -->
    </tr>
    </thead>
    <tbody>
    {{range .Apps}}
        <tr>
            <td><a href="/listapps/{{.Name}}">{{.Name}}</a></td>
            <td>{{.Version}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
</div>
</div>
</body>
</html>